<launch>
	
	<arg name="record" default="false"/>
      <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
      	   </include>


     <node name="turtlebot_walker" pkg="turtlebot_walker" type="turtlebot_walker" 
     	output="screen">
     </node>

     <node name="record" pkg="rosbag" type="record"
        args="-a -O $(find turtlebot_walker)/results/record.bag -x /camera/(.*)"
        if="$(eval record==true)" >
	</node>

</launch>


